@page
@model web.Pages.Job.CreateJobModel
@{
    ViewData["Title"] = "Create Job";

    @* "name":"test2",
    "description": "test description2",
    "jobActionType": "2",
    "jobFrequencyInMinutes": "2",
    "jobScheduledAT" : "2022-11-20T23:28:34.3160301Z" *@

}
<form method="POST">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Job Name</label>
    <div class="col-sm-10">
      <input 
            id="name"
            name="name"
            type="text" 
            class="form-control" 
            placeholder="Enter job name">        
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">Job Description</label>
    <div class="col-sm-10">
      <input type="text" 
            class="form-control" 
            id="description" 
            name="description"
            placeholder="Enter job description">
    </div>           
  </div>
  <div class="form-group row">
    <label for="icaostationid" class="col-sm-2 col-form-label">ICAO Station ID</label>
    <div class="col-sm-10">
      <input type="text" 
            class="form-control" 
            id="icaostationid" 
            name="icaostationid"
            placeholder="Enter ICAO Station ID">
    </div>           
  </div>
  <div class="form-group row">
    <label for="jobactiontype" class="col-sm-2 col-form-label">Job action type</label>
    <div class="col-sm-10">
      <select class="form-control"
              id="jobactiontype" 
              name="jobactiontype" >
        <option value="">Please select</option>
        <option value="0" selected>CHECK_TEMPERATURE_QUALITY</option>
        <option value="1">CHECK_WIND_QUALITY</option>
      </select>      
      @* CHECK_TEMPERATURE_QUALITY,
         CHECK_WIND_QUALITY,

        <input type="text" 
          class="form-control" 
          id="jobactiontype" 
          name="jobactiontype" 
          placeholder="Enter job action type"> *@
    </div>
  </div>
  <div class="form-group row">
    <label for="jobfrequencyinminutes" class="col-sm-2 col-form-label">Job frequency in minutes</label>
    <div class="col-sm-10">    
      <input type="number" 
            class="form-control" 
            id="jobfrequencyinminutes"
            min="1"
            max="60"
            name="jobfrequencyinminutes" 
            placeholder="Enter Job frequency in minutes">
    </div>           
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="container">
  <p>
    @Model.JSONOutput
  </p>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Station ID</th>
        </tr>
        @if(@Model.Jobs != null)
        {
          @foreach (var job in @Model.Jobs)
          {
            <tr>
              <td>Name: @job.Name</td>
              <td>Description: @job.Description</td>
              <td>Station ID: @job.ICAOStationId</td>
            </tr>            
          }        
        }
      </thead>
    </table>
  </idv>
</div>
